
#introduction{
    margin-top: 80px;
    margin-left: 235px;
    width: 800px;
}

#introduction li{
    padding: 5px;
    font-size: 16px;
    margin-left: 20px;
    list-style:none;
}
#introduction h5{
    font-size: 16px;
    font-weight: normal;
}
#basis{
    margin-top: 80px;
    margin-left: 235px;
    width: 800px;

}
#basis li{
   padding: 5px;
   font-size: 16px;
   list-style:none;
}

#basischild{
    margin: 0 auto;
    
}
#basischild a{
    text-decoration: none;
    color: darkturquoise;
}